server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/ems_auth_db?useSSL=true&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ems_user
    password: EmsUser123!
    driver-class-name: com.mysql.cj.jdbc.Driver
    autoconfigure:
      exclude:
        - org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
